.comics-baner {
    margin-top: 50px;
    position: relative;
    img {
        object-fit: contain;
    }
    &__text {
        position: absolute;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        top: 18px;
        left: 280px;
    }
}