.hero-infomation__comics-item {
    padding: 4px 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}