body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.contain {
  img {
    object-fit: contain;
  }
}

.cover {
  img {
    object-fit: cover;
  }
}